html, body {
  height: 100%;
}

.container {
  min-height: 100%;
  position: relative;
}

.topnav {
  overflow: hidden;
  background: gray;
  position: sticky;
  top: 0;
  z-index:1
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
}

.topnav a:hover {
  background-color: silver;
}

.topnav a.active {
    background-color: black;
}

.footer {
  text-align: center;
  padding: 10px 10px;
  font-size: 16px;
  position: static;
  width: 100%;
  bottom: 0;
  color: white;
  background-color: gray;
}

.selfie {
  width: 400px;
  height: 300px;
  /* transform: rotate(180deg); */
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  float: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.intro_text {
  /* vertical-align: top; */
  /* float: left; */
  top: 0;
}

.below_intro {
  clear: both;
}

.table {
  display: flex;
  justify-content: center;
}

.table table, th, td  {
  border: 1px solid black;
}

.table th, td {
  padding: 5px;
}

.period {
  font-size: 30px;
  font-weight: bold;
}

.my_caption {
  font-style: oblique;
}

.ccode-button {
  padding: 5px 5px;
  background-color: black;
  opacity: 0.9;
  width: 100px;
  color: white;
}

.active {
  background-color: red;
}
